header {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  overflow-y: hidden;
  
  nav {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 100%;

    ul {
      padding: 0 !important;
      min-width: 100% !important;
    }
  }
}



