@import "../utilities/variables";

h1 {
  color: $font-color;
  font-family: 'Times New Roman', Times, serif;
}


h2 {
  color: $font-color;
  font-family: 'Times New Roman', Times, serif;
}


p {
  color: $font-color;
}
